.categories-content {
    position: relative;
}

.categories-img {
    width: 100%;
}

.categories-title {
    position: absolute;
    line-height: 1.41;
    top: 30px;
    left: 30px;
}

.categories-title h4 a {
    color: black;
    font-size: 22px;
}

.categories-title p {
    font-size: 16px;
}

.categories-content:hover h4 a {
    color: #999;
    transition: all .4s;
}

.categories-content:hover p{
    color: #dcb14a;
    transition: all .4s;
}
