.decorate {
    position: relative;
}

.decorate-info {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 100%;
}

.decorate-info h3 {
    width: 650px;
    font-size: 36px;
    color: #111;
    line-height: 1.41;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
}

.decorate-info h3:after {
    background-color: #dcb14a;
    position: absolute;
    content: "";
    height: 4px;
    width: 70px;
    left: 0;
    bottom: 0;
}

.red-span {
    font-size: 36px;
    color: red;
}

.decorate-info p {
    
    font-weight: 400;
}

.countdown {
    display: flex;
    gap: 55px;
    margin-bottom: 60px;
}

.time-box {
    text-align: center;
}

.time-box span {
    display: block;
    font-size: 68px;
    font-family: "Prata", serif;
}

.time-box label {
    font-size: 1.1rem;
    color: black;
}

.dot {
    display: flex;
    align-items: center;
    font-size: 55px;
}

.decorate-button__box {
    width: 650px;
}

.decorate-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    background: black;
    border: 0;
    padding: 12px 0 12px 0;
    transition: 0.4s;
}

.decorate-button:hover {
    background: #222222;
}

.decorate-button a {
    color: white;
}