.footer {
    padding-top: 100px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    width: 100%;
    font-weight: 400;
    max-width: 1170px;
    min-width: 1088px;
    padding-right: 20px;
    padding-left: 20px;
}

.footer-box {
    position: relative;
    padding-bottom: 20px;
}

.footer-box h4 {
    color: black;
    font-size: 18px;
    padding-bottom: 20px;
    font-weight: 500;
}

.footer-box li {
    padding-bottom: 5px;
}

.footer-box ul li a {
    font-size: 16px;
    color: black;
    font-weight: 400;
}

.footer-box .footer-box__input {
    display: flex;
    align-items: center;
    position: relative;
}

.footer-box input {
    width: 100%;
    border: none;
    padding: 7px 0px;
    border-bottom: 1px solid #ddd;
    outline: none;
}

.footer-box input:focus {
    border-bottom: 1px solid #e9b005;
}

.footer-box input::placeholder {
    color: #888;
    font-size: 17px;
}

.footer-box input:focus::placeholder {
    color: #e9b005;
}

.footer-box button {
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    right: 0;
    z-index: 5;
    background: none;
}

.footer-box .arrow-button {
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.footer-box__ul2 {
    display: flex;
    gap: 30px;
    padding-top: 50px;
}

.footer-bottom {
    padding-bottom: 30px;
    padding-top: 30px;
    margin-top: 40px;
    border-top: 1px solid #ededed;
    min-width: 0px;
}

.footer-bottom__copy {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.footer-bottom__text {
    display: flex;
    justify-content: center;
    
}

.footer-bottom__text p {
    font-size: 16px;
    font-weight: 400;
    padding-right: 45px;
}

.footer-bottom__socials {
    display: flex;
    padding-left: 20px;
}

.footer-bottom__socials img {
    width: 18px;
}