.header {
    position: absolute;
    z-index: 5;
    width: 100%;
}

.header-search {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.header-search__input {
    width: 100%;
    border: none;
    padding: 7px 50px 10px 0px;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}

.header-search__btn {
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.header-search__btn  img {
    width: 23px;
}
/*-----End header search-----*/

.header-logo {
    display: flex;
    padding: 36px 0;
}

/*-----End header logo-----*/

.header-minmenu {
    display: flex;
    gap: 25px;
    justify-content: flex-end;
}

.header-minmenu__icon {
    width: 25px;
    height: 28px;
}

.header-minmenu__icon img {
    width: 100%;
}
