.mail {
    padding-top: 50px;
}

.mail-content {
    padding: 0px;
}

.mail-title {
    margin: 0;
    font-size: 42px;
    color: #000;
    line-height: 1.41;
    font-weight: 500;
    position: relative;
    padding-bottom: 10px;
}

.mail-title::after {
    background-color: #dcb14a;
    position: absolute;
    content: "";
    height: 4px; 
    width: 70px; 
    left: 0;
    bottom: 0;
}

.mail-text {
    color: #000;
    font-weight: 400;
    line-height: 1.41;
}

.mail-input__container {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 30px;
}

.mail-input__container input[type="email"] {
    border: none;
    background: #f4f5f7;
    width: 100%;
    height: 54px;
    outline: none;
    font-size: 16px;
    padding: 20px 20px 20px 20px;
}

.mail-input__container button {
    position: absolute;
    padding: 15px 30px;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 18px;
    right: 0;
    background-color: black;
    color: white;
}