* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    line-height: 1.74;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    visibility: visible;
    font-family: "Roboto", sans-serif;
    color: #000;
    position: relative;
    background-color: #f4f5f7;
}

::selection {
    background-color: #dfa804;
    color: white;
}

.mt-50 {
    margin-top: 50px;
}

.pl-15 {
    padding-left: 15px;
}

.mt-75 {
    margin-top: 75px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-150 {
    margin-top: 150px;
}

.mb-230 {
    margin-bottom: 230px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-100 {
    margin-bottom: 100px;
}

.items-center {
    align-items: center;
}

.main-container {
    max-width: 1330px;
    margin: auto;
    width: 100%;
}


#main-wrapper {
    width: 100%;
    background-color: white;
}

:root {
    --swiper-navigation-size: 20px !important;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}
