.products {
    padding-top: 70px;
}

.products-head__title {
    text-align: center;
    margin-bottom: 15px;
}

.products-head__title h4 {
    font-size: 25px;
}

.products-head__list {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.products-head__list li a {
    color: #333;
    border-left: 1px solid black;
    padding-left: 10px;
    font-weight: 400;
}

.products-head__list li:first-child a {
    border: 0;
}

.products-head__list li a.active {
    color: #999;
}
/* end product header */


.product {
    position: relative;
    margin-bottom: 30px;
}

.product-stock {
    z-index: 1;
    color: #fff;
    font-weight: 400;
    background: black;
    padding: 0 8px;
    position: absolute;
    right: 17px;
    top: 17px;
    font-size: 17px;
}

.product-item {
    width: 100%;
    position: relative;
    display: flex;
    align-items: start;
}

.product-item img {
    width: 100%;
}

.product-item::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .1);
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
}

.product:hover .product-item::after {
    opacity: 1;
    visibility: visible;
}

.product-info__box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    top: -60px;
    margin: auto;
    gap: 15px;
}

.product:hover .product-info:nth-child(1),
.product:hover .product-info:nth-child(2),
.product:hover .product-info:nth-child(3) {
    opacity: 1;
    transform: translateY(0);
}

.product-info {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: relative;
    background-color: white;
    transition: 0.5s ease, 0.5s ease;
}

.product-info img {
    width: 55%;
}

.product-info:nth-child(1) {
    transform: translateY(10px);
}

.product-info:nth-child(2) {
    transform: translateY(20px);
}

.product-info:nth-child(3) {
    transform: translateY(30px);
}

.product-text {
    padding-top: 6px;
    text-align: center;
}

.product-text h6 {
    font-size: 18px;
    font-weight: 500;
}

.product-text p {
    color: #666;
    font-size: 18px;
    font-weight: 400;
}