.product-content__image {
    width: 100px;
    margin-right: 20px;
}

.product-content__image img {
    width: 100%;
}

.product-details__content {
    margin-left: 10px;
}

.product-details__content h5 {
    font-size: 24px;
    font-weight: 500;
}

.product-details__content h3 {
    color: #999;
    font-weight: 400;
    font-size: 30px;
}

.product-details__content p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

.product-content__size {
    display: flex;
    align-items: center;
    gap: 15px;
}

#tab_list_active {
    display: block;
}

.tab_list {
    display: none;
}

.product-content__size h2 {
    gap: 15px;
    font-size: 17px;
    font-weight: 500;
}

.product-content__sizeMenu {
    display: flex;
    padding-top: 10px;
    margin-bottom: 20px;
    gap: 25px;
}

.product-content__sizeMenu li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 30px;
    width: 30px;
    line-height: 30px;
    background: #f1f1f1;
    border-radius: 50%;
    border: 1px solid transparent;
    text-align: center;
    color: #333;
}

.product-content__active {
    border: 1px solid grey;
    border-radius: 50%;
}

.product-content__colorMenu {
    display: flex;
    align-items: center;
    gap: 15px;
}

.product-content__colorMenu h4 {
    font-size: 17px;
    font-weight: 500;
}

.tab_list_color {
    color: #666;
    font-weight: 500;
    display: none;
}

#tab_list_color_active {
    display: block;
}

.product-content__colorSelector {
    display: flex;
    gap: 25px;
    padding-top: 5px;
    margin-bottom: 30px;
}

.product-content__ball {
    padding: 0;
    height: 30px;
    width: 30px;
    line-height: 30px;
    background: #f1f1f1;
    border-radius: 50%;
    border: 1px solid transparent;
    text-align: center;
    color: #333;
    position: relative;
}

.active-ball {
    background: #000000;
    color: white;
}

.active-ball:before {
    content: '\2713';
}

.product-content__buttons {
    display: flex;
    border: none;
    gap: 15px;
    margin-bottom: 20px;
}

.black-button {
    background-color: black !important;
}

.product-content__buttons button {
    padding: 0 42px;
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    background-color: white;
    cursor: pointer;
}

.product-content__buttons button:before {
    background: #222;
    transition: all .4s;
}

.product-content__buttons button:last-child {
    padding: 0 15px;
}

.product-content__btnText {
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.product-content__btnTexts {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

.product-content__btnHeart {
    width: 20px;
}

.product-content__btnHeart img {
    width: 100%;
}

.product-content__meta {
    margin-bottom: 50px;
}

.product-content__meta ul li {
    display: flex;
}

.product-content__meta ul li a {
    font-weight: 500;
    color: #666;
    margin-left: 5px;
}

.product-content__meta ul li a:hover {
    text-decoration: underline;
}

.product-content__item {
    display: flex;
}

.product-content__itemİmg img {
    width: 15px;
}

.product-content__item h2 {
    font-size: 16px;
    font-weight: 400;
    margin-right: 15px;
}

.product-content__itemİmg {
    display: flex;
    gap: 15px;
}

.product-filter h6 {
    font-size: 18px;
    margin-bottom: 20px;
}

.product-filter ul li {
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 16px;
}

.product-desc {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.product-desc__text h4 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.product-desc__text p {
    font-weight: 400;
}

.product-desc__img {
    width: 100%;
}

.product-desc__text ul li {
    margin-bottom: 5px;
}

.product-desc__text ul li a {
    color: black;
    font-weight: 400;
    gap: 15px;
    display: flex;
    align-items: center;
}

.product-desc__text ul li a:hover {
    color: #dcb14a;
    transition: all .4s;
}

.product-desc-tringle {
    content: '';
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 7px solid black;
}

.product-desc-title {
    font-size: 26px;
    text-align: center;
    margin-bottom: 55px;
}

.product-content__end {
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
    padding-bottom: 30px;
    width: 100%;
}

.product-content__end ul {
    display: flex;
}

.product-content__end ul li {
    margin-right: 20px;
}

.product-content__end ul li a {
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.product-content__end ul li a:before {
    content: "/";
    position: absolute;
}

.product-content__end ul li a p {
    margin-left: 20px;
}

.product-swiper__item img {
    width: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.product-swiper__slide {
    background-size: cover;
    background-position: center;
}

.productContentSwiper2 {
    height: 100%;
    width: 100%;
    margin-left: 10px;
}

.productContentSwiper {
    box-sizing: border-box;
    width: 105px;
    height: 400px;
}

.productContentSwiper .product-swiper__slide {
    width: 100%;
    height: 100%;
}

.product-swiper__slide img {
    width: 90px;
    height: auto;
}

.productContentSwiper2 img {
    width: 595px;
    height: auto;
}