.product-content__image img {
    width: 100%;
}

.product-content__swiper {
    width: 200px;
    margin-right: 20px;
}

.product-content__swiper img {
    width: 100%;
}

.product-details__content h5 {
    font-size: 24px;
    font-weight: 500;
}

.product-details__content h3 {
    color: #999;
    font-weight: 400;
    font-size: 30px;
}

.product-details__content p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

.product-content__size {
    display: flex;
    align-items: center;
    gap: 15px;
}

.product-content__size h2 {
    gap: 15px;
    font-size: 18px;
    font-weight: 500;
}