@media only screen and (min-width: 375px) {
    .productContentSwiper2 img {
        width: 741px;
    }

    .product-content__end ul {
        display: flex;
    }

    .product-desc__textimg {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .d-sm-block {
        display: block;
    }

    .d-sm-flex {
        display: flex;
    }

    .d-sm-none {
        display: none;
    }

    .hero-swiper__info h3 {
        font-size: 40px;
    }

    .mail-input__container {
        margin-top: 0px;
    }

    .footer-bottom__copy {
        text-align: start;
    }

    .footer-bottom__text {
        display: flex;
        justify-content: flex-end;
    }

    .tool-bar {
        justify-content: flex-start;
        margin-bottom: 0;
    }

    .filter {
        justify-content: flex-end;
    }

    .productContentSwiper2 img {
        width: 730px;
    }

    .col-lg-7.d-flex {
        flex-direction: row;
    }

    .productContentSwiper {
        box-sizing: border-box;
        width: 105px;
        height: 400px;
    }

    .productContentSwiper2 {
        margin-left: 10px;
    }

    .product-desc {
        flex-direction: row;
    }

    .product-desc__text {
        width: 100%;
    }
}

@media only screen and (min-width: 1024px) {

    .d-md-block {
        display: block;
    }

    .d-md-flex {
        display: flex;
    }

    .d-md-none {
        display: none;
    }

    .header-logo {
        justify-content: center;
    }

    .hero-swiper__info h3 {
        font-size: 57px;
    }

    .products-head__title {
        text-align: start;
        margin-bottom: 0px;
    }

    .products-head__list {
        justify-content: center;
    }

    .products {
        padding: 120px 0;
    }

    .footer-bottom {
        margin-top: 100px;
    }

    .about-box {
        padding: 120px 0;
    }

    .products-head__title h4 {
        font-size: 35px;
    }

    .categories-title h4 a {
        font-size: 22px;
    }

    .productContentSwiper2 img {
        width: 590px;
    }

    .footer-logo {
        display: flex;
    }

    .decorate-bg {
        padding: 120px 0;
    }

    .countdown-item__number {
        font-size: 68px;
    }

    .countdown-item__text {
        font-size: 1.1rem;
    }

    .countdown-dot {
        font-size: 55px;
        padding-top: 10px;
    }

    .order-1 {
        order: 1;
    }

    .order-2 {
        order: 2;
    }

    .selling-responsive {
        display: flex;
        align-items: normal;
        flex-direction: row;
    }

    .selling-img img {
        padding-bottom: 0;
    }

    .mail-content {
        padding: 50px;
    }

    .header-top {
        display: flex;
    }
}