.selling {
    padding-top: 120px;
}


.selling-img img {
    max-width: 100%;
    width: 400px;
    transition: 0.5s;
}

.selling-img img:hover {
    transform: scale(1.05);
}


.selling-info p {
    color: #999;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 25px;
}


.selling-info h5 {
    color: black;
    font-size: 35px;
    line-height: 1.1;
    padding-top: 10px;
    margin-bottom: 25px;
    padding-bottom: 10px;
    font-weight: 500;
    position: relative;
}

.selling-info h5::after {
    background-color: #dcb14a;
    position: absolute;
    content: "";
    height: 4px; 
    width: 70px; 
    left: 0;
    bottom: 0;
}

.selling-info span {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 35px;
}

.selling-info button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #222;
    background: transparent;
    padding: 12px 32px;
    transition: 0.4s;
    color: black;
    font-weight: bold;
    transition: 0.4s;
}

.selling-info button:hover {
    background: black;
}

.selling-info button:hover {
    color: white; 
}
