.shop-widget {
    border-bottom: 1px solid #ddd;
    margin-bottom: 37px;
    padding-bottom: 37px;
}

.shop-widget:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.swatch-color {
    width: 18px;
    height: 18px;
    display: inline-block;
    border-radius: 50%;
    opacity: .5;
    margin-right: 10px;
}

.swatch-color.black {
    background-color: #000;
}

.swatch-color.green {
    background-color: #81d742;
}

.swatch-color.grey {
    background-color: #adadad;
}

.swatch-color.red {
    background-color: #d33;
}

.swatch-color.blue {
    background-color: rgb(34, 116, 238);
}

.swatch-color.yellow {
    background-color: #ee2;
}

.widget-color .widget-nav-list li {
    display: inline-block;
    margin-bottom: 6px;
    margin-right: 20px;
}

.widget-nav-list li a {
    color: black;
    display: flex;
    justify-content: space-between;
}

.widget-nav-list li a:hover {
    color: #dcb14a;
    transition: .4s;
}

.tagcloud a {
    font-size: 16px;
    padding-right: 5px;
    color: black;
    font-weight: 400;
}

.tagcloud a:hover {
    color: #dcb14a;
    transition: .4s;
}

.tagcloud a::after {
    content: ",";
}

.tool-bar {
    display: flex;
    font-weight: 400;
    justify-content: center;
    margin-bottom: 15px;
}

.filter {
    display: flex;
    font-weight: 400;
    justify-content: center;
}

.filter a {
    color: black;
}

.filter a:last-child {
    border-left: 1px solid black;
    padding-left: 15px;
}

.tool-bar h6 {
    font-size: 16px;
    font-weight: 400;
    padding-right: 20px;
}

.tool-bar p {
    padding-left: 20px;
    border-left: 1px solid black;
}

.nav-link {
    width: 17px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.nav-link img {
    width: 100%;
}

.page-pagination {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.page-pagination li a {
    color: black;
    background-color: #f5f5f5;
}

.page-pagination li {
    padding: 8px 15px;
    text-align: center;
    position: relative;
    color: #000;
    background-color: #f5f5f5;
    font-weight: 500;
    font-size: 14px;
    gap: 15px;
}

.page-pagination .active {
    background-color: #dcb14a;
}