* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    line-height: 1.74;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    visibility: visible;
    font-family: "Roboto", sans-serif;
    color: #000;
    position: relative;
}



::selection {
    background-color: #dfa804;
    color: white;
}

.box-home {
    max-width: 1330px;
    margin: auto;
    background-color: #f4f5f7;
}

#main-wrapper {
    width: 100%;
    background-color: white;
}

header {
    width: 100%;
    height: 254px;
    max-width: 1170px;
    margin: auto;
}

.header-title {
    text-align: center;
    padding: 39px;
    border-bottom: 1px solid #ddd;
}

.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 39px 0;
    max-width: 1170px;
    min-width: 1170px;
    padding-right: 30px;
    padding-left: 30px;
}

.header-row__left {
    display: flex;
}

.header-row__phone {
    width: 25px;
}

.header-row__left a svg {
    width: 100%;
    height: 100%;
}

.header-row__left p {
    font-size: 18px;
    padding-left: 5px;
    transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.header-row__left p:hover {
    color: #e9b005;
}

.header-row__mid ul {
    display: flex;
    gap: 50px;
    font-weight: bold;
}

.header-row__mid ul li a {
    color: black;
    font-size: 16px;
    font-weight: 400;
}

.header-iconbox {
    display: flex;
    gap: 25px;
}

.header-icon {
    width: 30px;
    height: 28px;
}

.header-icon a {
    display: flex;
    width: 25px;
}

.header-icon a svg {
    width: 100%;
    height: 100%;
    fill: black;
    transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.header-icon a svg:hover {
    fill: #e9b005;
}

.ham {
    cursor: pointer;
    transition: 400ms;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: 400ms, 400ms;
    stroke: #000;
    stroke-width: 3;
    stroke-linecap: round;
}

#menu-btn {
    overflow: hidden;
}

#menu-checkbox {
    display: none;
}

#menu-label {
    position: relative;
    display: block;
    height: 30px;
    cursor: pointer;
}

#menu-label:before,
#menu-label:after,
#menu-bar {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
}


#menu-label:before,
#menu-label:after {
    content: "";
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
}

#menu-label:before {
    top: 0;
}

#menu-label:after {
    top: 10px;
}

#menu-bar {
    top: 20px;
}

#menu-bar:before {
    content: "MENU";
    position: absolute;
    top: 5px;
    right: 0;
    left: 0;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    text-align: center;
}

.hero {
    height: 63vh;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1170px;
    margin: auto;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.swiper-left {
    text-align: start;
}

.swiper-left p {
    color: #999;
    font-size: 16px;
}

.swiper-left h3 {
    color: black;
    font-size: 55px;
    line-height: 1.1;
    padding-top: 25px;
    padding-bottom: 50px;
    font-weight: 500;
}

.swiper-backface-hidden .swiper-slide {
    background: #f1f1f1 !important;
}

.swiper-button-next,
.swiper-button-prev {
    color: #666 !important;
}


:root {
    --swiper-navigation-size: 20px !important;
}

.about-container {
    max-width: 1170px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-container h5 {
    font-weight: 500;
    font-size: 60px;
    font-family: "Mr De Haviland";
    margin-bottom: 20px;
}

.about-container p {
    text-align: center;
}

.video-box {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1170px;
    margin: auto;
}

.video {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.video img {
    width: 100%;
    height: auto;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    z-index: 2;
}

.video:hover img {
    transform: scale(1.1);
}

.video:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    z-index: 5;
}

.video:hover:before {
    background: rgba(0, 0, 0, 0.4);
}

.video-icon {
    position: absolute;
    z-index: 5;
}

.play-button {
    width: 65px;
    height: 65px;
    border: 5px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 25px;
    border-radius: 4px;
    border-color: transparent transparent transparent white;
    margin-left: 5px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    position: relative;
    padding: 15px 0;
    border-radius: 8px;
}

.modal-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: black;
}

.product {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1170px;
    margin: auto;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
}


.product-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 50px;
    min-width: 100px;
    padding-right: 20px;
    padding-left: 20px;
}

.product-header__title h4 {
    font-size: 30px;
}

.product-header ul {
    display: flex;
    gap: 20px;

}

.product-header ul li a {
    color: #333;
    border-left: 1px solid black;
    padding-left: 10px;
    font-weight: 400;
}

.product-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.products {
    position: relative;
    padding: 11px;
    width: 100%;
}

.products img {
    width: 100%;
}

.product-info {
    color: #fff;
    font-size: 24px;
}

.product-info h6 {
    color: white;
    font-weight: 400;
    background: black;
    padding: 0 8px;
    position: absolute;
    right: 25px;
    top: 25px;
}

.product-item {
    width: 100%;
    position: relative;
    display: flex;
    align-items: start;
}

.product-item::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .1);
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
}

.products:hover .product-item::after {
    opacity: 1;
    visibility: visible;
}

.products:hover .plus,
.products:hover .bag,
.products:hover .heart {
    opacity: 1;
    transform: translateY(0);
}


.plus {
    position: absolute;
    opacity: 0;
    transform: translateY(15px);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.bag {
    position: absolute;
    opacity: 0;
    transform: translateY(25px);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.heart {
    position: absolute;
    opacity: 0;
    transform: translateY(35px);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.product-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 93%;
    height: 60px;
    position: absolute;
    bottom: 0;
    top: 115px;
    gap: 15px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}


.plus {
    display: flex;
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.plus::before,
.plus::after {
    content: '';
    position: absolute;
    background-color: black;
}

.plus::before {
    width: 50%;
    height: 2%;
}

.plus::after {
    width: 2%;
    height: 50%;
}

.bag {
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.bag img {
    width: 55%;
}

.heart {
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.heart img {
    width: 55%;
}

.products-text {
    padding-top: 6px;
    text-align: center;
}

.products-text h6 {
    font-size: 18px;
    font-weight: 500;
}

.products-text p {
    color: #666;
    font-size: 18px;
    font-weight: 400;
}

.brand {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1170px;
    margin: auto;
    padding-top: 100px;
}

.mail {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1170px;
    margin: auto;
    padding-top: 100px;
}

.mail-control {
    display: flex;
    align-items: center;
    background: #f4f5f7;
    width: 100%;
    justify-content: space-around;
    padding: 50px;
}

.mail-control h4 {
    margin: 0;
    font-size: 26px;
    color: #000;
    line-height: 1.41;
    font-weight: 500;
}

.mail-control p {
    margin: 5px 0 0;
    font-size: 16px;
    color: #000;
    font-weight: 400;
    line-height: 1.41;
}

.mail-control .input-container {
    display: flex;
    align-items: center;
    position: relative;
}

.mail-control input[type="email"] {
    border: none;
    background: #fff;
    width: 100%;
    height: 54px;
    outline: none;
    font-size: 16px;
    padding: 20px 350px 20px 20px;
}

.mail-control button {
    position: absolute;
    padding: 0px 30px;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    right: 0;
    background-color: white;
}

footer {
    max-width: 1170px;
    margin: auto;
    padding-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    width: 100%;
    font-weight: 400;
    max-width: 1170px;
    min-width: 1088px;
    padding-right: 20px;
    padding-left: 20px;
}

.footer-box {
    position: relative;
    padding-bottom: 20px;
}

.footer-box h4 {
    color: black;
    font-size: 18px;
    padding-bottom: 20px;
    font-weight: 500;
}

.footer-box li {
    padding-bottom: 5px;
}

.footer-box ul li a {
    font-size: 16px;
    color: black;
}

.container h4 {
    margin: 0 0 10px;
    font-size: 20px;
    color: #000;
}

.input-container {
    display: flex;
    align-items: center;
    position: relative;
}

.footer-box input {
    width: 100%;
    border: none;
    padding: 7px 0px;
    border-bottom: 1px solid #ddd;
    outline: none;
}

.footer-box input:focus {
    border-bottom: 1px solid #e9b005;
}

input::placeholder {
    color: #888;
    font-size: 17px;
}

input:focus::placeholder {
    color: #e9b005;
}

.footer-box button {
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    right: 0;
    z-index: 5;
    background: none;
}

.arrow-button {
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.ul2 {
    display: flex;
    gap: 30px;
    padding-top: 50px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 100px;
    border-top: 1px solid #ededed;
    min-width: 0px;
}

.footer-rights h6 {
    font-size: 16px;
    font-weight: 400;
}

.footer-text {
    display: flex;
}

.footer-text p {
    font-size: 16px;
    font-weight: 500;
    padding-right: 30px;
}

.socials {
    display: flex;
    gap: 20px;
}

.socials img {
    width: 21px;
}

@media screen and (max-width: 1200px) {
    .header-row {
        padding-right: 20px;
        padding-left: 20px;
        min-width: 500px;
    }

    .swiper-left h3 {
        font-size: 45px;
    }

}

@media screen and (max-width: 1055px) {

    .ul2 {
        gap: 12px;
    }

    .mail-control h4 {
        font-size: 22px;
    }

    .mail-control p {
        font-size: 14px;
    }
}

@media screen and (max-width: 990px) {
    .header-row__mid ul {
        display: none;
    }

    .product-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .products {
        width: 100%;
    }

    .ul2 {
        display: none;
    }

    .mail-control input[type="email"] {
        padding: 20px 250px 20px 20px;
    }

    .mail-control {
        margin-right: 10px;
        margin-left: 10px;
    }

    .product-header {
        display: grid;
        justify-content: center;
        text-align: center;
    }

    .product-header__title h4 {
        font-size: 26px;
        padding-bottom: 15px;
    }

    .footer-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-box:last-of-type {
        padding-top: 20px;
    }

    .footer-box button {
        right: 0;
    }

    .footer-bottom {
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: center;
    }
}

@media screen and (max-width: 766px) {
    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .product-link {
        top: 125px;
    }

    .mail-control {
        display: block;
        margin-left: 0;
    }

    .mail-control .input-container {
        padding-top: 30px;
    }

    .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 575px) {
    .product-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .product-link {
        top: 265px;
    }

    .footer-container {
        grid-template-columns: repeat(1, 1fr);
    }

}