@import url("./css/flexbox.css");
@import url("./css/swiper.css");
@import url("./css/header.css");
@import url("./css/hero.css");
@import url("./css/about.css");
@import url("./css/video.css");
@import url("./css/product.css");
@import url("./css/brand.css");
@import url("./css/Newsletter.css");
@import url("./css/footer.css");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    line-height: 1.74;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    visibility: visible;
    font-family: "Roboto", sans-serif;
    color: #000;
    position: relative;
    background-color: #f4f5f7;
}



::selection {
    background-color: #dfa804;
    color: white;
}

.main-container {
    max-width: 1330px;
    margin: auto;
    width: 100%;
}

#main-wrapper {
    width: 100%;
    background-color: white;
}



.ham {
    cursor: pointer;
    transition: 400ms;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: 400ms, 400ms;
    stroke: #000;
    stroke-width: 3;
    stroke-linecap: round;
}

#menu-btn {
    overflow: hidden;
}

#menu-checkbox {
    display: none;
}

#menu-label {
    position: relative;
    display: block;
    height: 30px;
    cursor: pointer;
}

#menu-label:before,
#menu-label:after,
#menu-bar {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
}


#menu-label:before,
#menu-label:after {
    content: "";
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
}

#menu-label:before {
    top: 0;
}

#menu-label:after {
    top: 10px;
}

#menu-bar {
    top: 20px;
}

#menu-bar:before {
    content: "MENU";
    position: absolute;
    top: 5px;
    right: 0;
    left: 0;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    text-align: center;
}



:root {
    --swiper-navigation-size: 20px !important;
}

.brand {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1170px;
    margin: auto;
    padding-top: 100px;
}

.mail {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1170px;
    margin: auto;
    padding-top: 100px;
}

.mail-control {
    display: flex;
    align-items: center;
    background: #f4f5f7;
    width: 100%;
    justify-content: space-around;
    padding: 50px;
}

.mail-control h4 {
    margin: 0;
    font-size: 26px;
    color: #000;
    line-height: 1.41;
    font-weight: 500;
}

.mail-control p {
    margin: 5px 0 0;
    font-size: 16px;
    color: #000;
    font-weight: 400;
    line-height: 1.41;
}

.mail-control .input-container {
    display: flex;
    align-items: center;
    position: relative;
}

.mail-control input[type="email"] {
    border: none;
    background: #fff;
    width: 100%;
    height: 54px;
    outline: none;
    font-size: 16px;
    padding: 20px 350px 20px 20px;
}

.mail-control button {
    position: absolute;
    padding: 0px 30px;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    right: 0;
    background-color: white;
}

footer {
    max-width: 1170px;
    margin: auto;
    padding-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    width: 100%;
    font-weight: 400;
    max-width: 1170px;
    min-width: 1088px;
    padding-right: 20px;
    padding-left: 20px;
}

.footer-box {
    position: relative;
    padding-bottom: 20px;
}

.footer-box h4 {
    color: black;
    font-size: 18px;
    padding-bottom: 20px;
    font-weight: 500;
}

.footer-box li {
    padding-bottom: 5px;
}

.footer-box ul li a {
    font-size: 16px;
    color: black;
}

.container h4 {
    margin: 0 0 10px;
    font-size: 20px;
    color: #000;
}

.input-container {
    display: flex;
    align-items: center;
    position: relative;
}

.footer-box input {
    width: 100%;
    border: none;
    padding: 7px 0px;
    border-bottom: 1px solid #ddd;
    outline: none;
}

.footer-box input:focus {
    border-bottom: 1px solid #e9b005;
}

input::placeholder {
    color: #888;
    font-size: 17px;
}

input:focus::placeholder {
    color: #e9b005;
}

.footer-box button {
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    right: 0;
    z-index: 5;
    background: none;
}

.arrow-button {
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.ul2 {
    display: flex;
    gap: 30px;
    padding-top: 50px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 100px;
    border-top: 1px solid #ededed;
    min-width: 0px;
}

.footer-rights h6 {
    font-size: 16px;
    font-weight: 400;
}

.footer-text {
    display: flex;
}

.footer-text p {
    font-size: 16px;
    font-weight: 500;
    padding-right: 30px;
}

.socials {
    display: flex;
    gap: 20px;
}

.socials img {
    width: 17px;
}
